{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos maiores, recusandae qui neque quidem eius expedita aut dolorum, hic nostrum maxime autem. Ex eveniet minima ea tempora nobis necessitatibus ad deleniti distinctio itaque enim, ullam, officia libero, unde maiores veritatis nostrum quasi repellendus quod est incidunt veniam eaque obcaecati expedita. Nostrum quo vero iusto dicta laboriosam, quod non esse modi et, libero, ratione quasi. Quae molestias aspernatur perferendis deserunt blanditiis enim nisi placeat dignissimos dolorum beatae cupiditate vitae fugiat distinctio labore maxime tenetur accusamus pariatur doloremque, optio dolores ut nihil unde harum quos. Beatae neque veritatis qui cupiditate doloribus velit.</p>
    </section>
    <div class="text-center">
        <a class="btn btn-primary" href="/signing/">
            Signing 
        <a>
        <a class="btn btn-primary" href="/signup/">
            Signup
        </a>
    </div>
</main>
{% endblock %}